<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/update">


    <input type="text" hidden="hidden" name="id" value="{{my_list['_id']}}"><br>
  <table>
      <tr> <td>房屋信息：</td> <td><input type="text" name="title" value="{{my_list['title']}}"></td>  </tr>
   <tr> <td>  房屋类型： </td> <td><input type="text" name="type" value="{{my_list['type']}}"></td>  </tr>
    <tr> <td>  房屋地址：</td> <td> <input type="text" name="add" value="{{my_list['add']}}"></td>  </tr>
      <tr> <td> 房屋报价：</td> <td> <input type="text" name="money" value="{{my_list['money']}}"></td>  </tr>
      <tr> <td> 联系人：</td> <td> <input type="text" name="linkman" value="{{my_list['linkman']}}"></td>  </tr>
      <tr> <td> 房屋信息链接：</td> <td> <input type="text" name="detail" value="{{my_list['detal']}}"></td>  </tr>
   </table>
    <input type="submit" value="提交"><br>

</form>


</body>
</html>
</body>
</html>